html {
    margin:auto;
    background:#fefefe;
}
body {
    font: 1.3em "Vollkorn", Palatino, Times;
    color: #333;
}
a {
	color: #2484c1;
}
a:hover {
	text-decoration: none;
}
img {
    display: block;
    width: 200;
    height: 200;
    margin: auto;
}

.text{
    max-width:42em;
    margin: auto;
}

h2 {
    text-align: center;
}

code {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .9em;
	background: #f4f4f4;
    width: auto;
}

.containerDiv {
    margin: auto;
    display: block;

}

img {
    width: 500px;
}



#vis{
    text-align: center;
}

#svgMain {
    margin-left:auto;
    margin-right:auto;
    display:block;
    border: 3px solid black;
    position: absolute;
    left: 50px;
}*/
