html {
    margin:auto;
    max-width:42em;
    background:#fefefe;
}
body {
    font: 1.3em "Vollkorn", Palatino, Times;
    color: #333;
}
a {
	color: #2484c1;
}
a:hover {
	text-decoration: none;
}
img {
    display: block;
    width: 200;
    height: 200;
    margin: auto;
}

h2 {
    text-align: center;
}

code {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .9em;
	background: white;
    width: auto;
}

.containerDiv {
    margin: auto;
    display: block;
    width: 500px;
}

img {
    width: 500px;
}
